/* slider Отзывов */
@media (min-width: 576px) {
  .slider__item {
    height: 250px;
  }

  .slider__item_inner {
    flex-direction: row;
  }

  .slider__item_testimonial {
    margin-left: 15px;
  }

  .slider__item_img {
    flex: 0 0 100px;
    max-width: 100px;
  }

  .slider__item_testimonial {
    text-align: left;
  }
}

.slider__item_name {
  font-size: 20px;
  margin-bottom: 8px;
  color: #333333;
}

.slider__item_post {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 8px;
  color: #333333;
}

.slider__item_text {
  color: #333333;
}

@media (max-width:1120px) {
  .container {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  .session-picture__img {
    max-width: 400px;
  }

  .service-day {
    margin-right: 20px;
  }

  .about-the-service__video-box {
    justify-content: flex-start;
  }

  .about-the-service-clip {
    max-width: 620px;
  }
}

@media (max-width: 1024px) {
  .how-it-works-picture__img {
    max-width: 270px;
  }

  .download-app-picture__img {
    max-width: 340px;
  }
}