@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background: rgba(249, 253, 255, 0.7);
}

* {
  font-family: Inter;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
a,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

ul {
  list-style: none;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #0E0E0F;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #0E0E0F;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #333333;
}

.btn {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  padding: 12px 30px;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
}

.btn:active {
  transform: scale(0.8);
}

.btn_birch::before {
  top: -1px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  content: '';
  width: 200%;
  height: 105%;
  background: linear-gradient(0deg, rgba(255, 255, 252, 0.77) 10%, rgba(255, 255, 253, 0) 50%, rgba(255, 255, 255, 0.77) 90%);
  transform: skewX(30deg) translateX(-120%);
  transition: transform 0.4s ease-in-out;
  opacity: 0.65;
}

.btn_birch:hover::before {
  transform: skew(30deg) translateX(-10%)
}

.btn_birch {
  color: #FFFFFF;
  background: linear-gradient(225deg, #00B9B6 0%, #00CDAC 100%);
  overflow: hidden;
  transition: transform 0.35s ease-in-out;
}

.btn_white {
  color: #00B9B6;
  background: #FFFFFF;
  overflow: hidden;
  transition: transform 0.35s ease-in-out;
}

.btn_white::before {
  top: -1px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  content: '';
  width: 200%;
  height: 105%;
  background: linear-gradient(0deg, rgba(0, 185, 182, 0.39539565826330536) 0%, rgba(255, 255, 254, 0) 40%, rgba(255, 255, 255, 0) 60%, rgba(0, 185, 182, 0.40379901960784315) 100%);
  transform: skewX(30deg) translateX(-120%);
  transition: transform 0.4s ease-in-out;
  opacity: 0.7;
}

.btn_white:hover::before {
  transform: skew(30deg) translateX(-10%)
}

.signature {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #00B9B6;
  font-style: normal;
}

/* header */

header::before {
  content: '';
  position: absolute;
  width: 350px;
  height: 500px;
  background: #5AB8CC;
  filter: blur(260px);
  border-radius: 50%;
  z-index: -1;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 0px;
  margin-bottom: 80px;
}

.header-logo__logo {
  max-width: 180px;
}

.header-menu__list {
  display: flex;
}

.header-menu__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #333333;
}

/* линия от центра */

.header-menu__link {
  display: inline-block;
  line-height: 1;
  position: relative;
}

.header-menu__link::after {
  display: block;
  content: "";
  background-color: #00B9B6;
  margin-top: 5px;
  height: 2px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width .25s ease-in-out;
  -moz--transition: width .25s ease-in-out;
  transition: width .25s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.header-menu__link:hover::after,
.header-menu__link:focus::after {
  width: 100%;
}

/*  */

.header-menu__item:not(:last-child) {
  margin-right: 40px;
}

.lang-img__flag {
  width: 26px;
  height: 26px;
  object-fit: cover;
  border-radius: 50px;
  border: 0.5px solid black;
  margin-right: 6px;
}

.header-account {
  align-items: center;
  display: flex;
}

.language {
  align-items: center;
  display: flex;
  margin-right: 20px;
}

/* session */

.session {
  display: flex;
  margin-bottom: 140px;
}

.session::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 800px;
  background: #5AB8CC;
  filter: blur(220px);
  border-radius: 50%;
  z-index: -1;
  right: 0px;
}

.session-text__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #0E0E0F;
  margin-bottom: 50px;
}

.session-picture__img {
  max-width: 686px;
}

/* application */

.application {
  display: flex;
  margin-bottom: 140px;
}

.application-clip {
  display: flex;
  width: 650px;
  margin-right: 50px;
}

.application-clip__video {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.application-download__heading {
  font-size: 32px;
  margin-bottom: 40px;
}

.application-download__description {
  display: flex;
  align-items: center;
  margin-bottom: 72px;
}

.application-download-picture {
  padding: 13px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.151);
  border-radius: 12px;
  margin-right: 20px;
}

.application-download-text__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #00B9B6;
}

.application-download-text__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
}

.application-download-links__link:first-child {
  margin-right: 20px;
}

.application-download-links__link {
  transition: transform 0.3s ease-in-out;
}

.application-download-links__link:active {
  transform: scale(0.8);
}

/* psyhologists */

.psychologists {
  margin-bottom: 140px;
}

.psychologist {
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.103);
  border-radius: 12px;
  margin-bottom: 50px;
}

.psychologists__heading {
  text-align: center;
  font-size: 32px;
  margin-bottom: 55px;
}

.psychologist-picture__img {
  object-fit: cover;
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 15px;
}

.psychologist__name {
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  color: #333333;
  margin-bottom: 15px;
}

.psychologist-estimation {
  display: flex;
  justify-content: space-between;
}

.psychologist-estimation__link {
  padding: 5px;
}

.psychologists-themes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.psychologists-themes__problems {
  padding: 10px 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #333333;
  background: #FFFFFF;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.072);
  cursor: pointer;
}

.psychologists-themes__problems_active {
  color: #00B9B6;
}

.psychologists-themes__problems:nth-child(-n+6) {
  margin-bottom: 15px;
}

.psychologists-themes__staff {
  padding: 10px 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
}

/* problems */

.help-you {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 210px;
}

.help-you::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 300px;
  background: #5AB8CC;
  filter: blur(200px);
  border-radius: 50%;
  z-index: -1;
  right: 0px;
}

.help-you-description__heading {
  margin-bottom: 40px;
}

.help-you-problems__img {
  padding: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #00B9B61A;
  margin-right: 10px;
}

.help-you-problems__item {
  display: flex;
  align-items: center;
}

.help-you-problems__item:not(:last-child) {
  margin-bottom: 15px;
}

.help-you-problems__point {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.help-you-picture__img {
  max-width: 430px;
}

/* adventages */

.advantages {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 50px 30px;
  border-radius: 24px;
  background: #00B9B61A;
  margin-bottom: 140px;
}

.advantages-picture {
  margin-right: 130px;
}

.advantages-picture__img {
  max-width: 180px;
  transform: scale(1.43, 1.43);
  transform-origin: left 270px;
}

.advantages-description__heading {
  margin-bottom: 40px;
}

.advantages-description-item {
  display: flex;
}

.advantages-description-item__point {
  width: 7px;
  height: 7px;
  flex: 0 0 auto;
  border-radius: 50%;
  background: #00B9B6;
  margin-top: 10px;
  margin-right: 10px;
}

.advantages-description-item:not(:last-child) {
  margin-bottom: 20px;
}

.advantages-description-item-text__title {
  margin-bottom: 5px;
}

/* specialists */

.specialists {
  margin-bottom: 140px;
}

.specialists__heading {
  margin-bottom: 5px;
}

.specialists__signature {
  margin-bottom: 62px;
}

.specialists-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specialists-description-item {
  margin-left: 50px;
  margin-right: 20px;
}

.specialists-description-item:not(:last-child) {
  margin-bottom: 71px;
}

#specialists-item__one::before {
  content: '1';
  position: absolute;
  font-weight: 700;
  font-size: 128px;
  line-height: 100%;
  color: #00B9B6;
  opacity: 0.2;
  margin-top: -22px;
  margin-left: -55px;
}

#specialists-item__two::before {
  content: '2';
  position: absolute;
  font-weight: 700;
  font-size: 128px;
  line-height: 100%;
  color: #00B9B6;
  opacity: 0.2;
  margin-top: -22px;
  margin-left: -55px;
}

#specialists-item__three::before {
  content: '3';
  position: absolute;
  font-weight: 700;
  font-size: 128px;
  line-height: 100%;
  color: #00B9B6;
  opacity: 0.2;
  margin-top: -22px;
  margin-left: -55px;
}


.specialist-description-picture__img {
  max-width: 408px;
}

/* about-the-service */

.about-the-service {
  margin-bottom: 140px;
}

.about-the-service__heading {
  text-align: center;
  margin-bottom: 50px;
}

.about-the-service__video-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.about-the-service-clip {
  display: flex;
  width: 750px;
  margin-right: 50px;
}

.about-the-service-clip__video {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.about-the-app-box:first-child {
  margin-top: 50px;
}

.about-the-app-box {
  margin-bottom: 50px;
}

.about-the-app-box__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #FFA800;
}

.about-the-service-selection {
  display: flex;
  justify-content: space-between;
}

.about-the-service-choice {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.158);
  border-radius: 24px;
  padding: 20px 30px;
}

.about-the-service-choice:not(:last-child) {
  margin-right: 30px;
}

.about-the-service-choice-picture {
  display: flex;
  align-items: center;
}

.about-the-service-choice-picture__img {
  max-width: 80px;
  margin-right: 10px;
}

.about-the-service-choice-text__title {
  margin-bottom: 5px;
}

/* how-it-works */

.how-it-works {
  margin-bottom: 140px;
}

.how-it-works::before {
  content: '';
  position: absolute;
  width: 170px;
  height: 700px;
  background: #5AB8CC;
  filter: blur(250px);
  border-radius: 50%;
  z-index: -1;
  right: 0px;
}

.how-it-works__heading {
  margin-bottom: 50px;
  text-align: center;
}

.how-it-works-main {
  display: flex;
  justify-content: space-between;
}

.how-it-works-steps,
.how-it-works-picture {
  width: 32%;
}

.how-it-works-steps {
  margin-top: 60px;
}

.how-it-works-picture {
  text-align: center;
}

.how-it-works-picture__img {
  max-width: 300px;
}

.how-it-works-step {
  display: flex;
  align-items: flex-start;
}

.how-it-works-step:first-child {
  margin-bottom: 80px;
}

.how-it-works-step__number {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #00B9B6;
}

.how-it-works-step__point {
  display: flex;
  flex: 0 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  background: #00B9B61A;
  justify-content: center;
  align-items: center;
}

.how-it-works-step-text__title {
  margin-bottom: 10px;
}

.how-it-works-btn-box {
  text-align: center;
}

.how-it-works-btn-box__btn {
  border: 1px solid #00B9B6;
}

/* how-it-works-tabs */
/* TABS */

.how-it-works-tabs {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
}

.how-it-works-tabs::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 700px;
  background: #5AB8CC;
  filter: blur(150px);
  border-radius: 50%;
  z-index: -1;
  right: 0px;
}

.how-it-works-tabs__heading {
  margin-bottom: 50px;
}

.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  color: #00B9B6;
  background: rgba(0, 185, 182, 0.1);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
}

.step-active {
  color: #FFFFFF;
  background: #00B9B6;
}

.step:not(:last-child) {
  margin-right: 10px;
}

.step:not(:first-child) {
  margin-left: 10px;
}

.line {
  width: 20px;
  height: 2px;
  background: #00B9B640;
}

.how-it-works-tabs-picture__img {
  max-width: 170px;
}

.tabs-info {
  text-align: center;
  display: none;
  margin-bottom: 40px;
}

.how-it-works-tabs__title {
  margin-bottom: 10px;
}

.tabs-info-active {
  display: block;
}

/* services */

.services {
  margin-bottom: 140px;
}

.services__heading {
  margin-bottom: 50px;
}

.services-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-day {
  border-radius: 24px;
  padding: 30px;
  background: #00B9B61A;
}

.service-day__title {
  color: #333333;
  margin-bottom: 5px;
}

.service-day__payment {
  color: #333333;
  margin-bottom: 30px;
}

.service-day__money {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  color: #333333;
}

.service-day-description {
  margin-bottom: 30px;
}

.service-day-item {
  display: flex;
}

.service-day-item:not(:last-child) {
  margin-bottom: 10px;
}

.service-day-item__point {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.service-day-item__img {
  padding: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #00B9B61A;
  margin-right: 10px;
}

.service-day__btn {
  border: 1px solid #00B9B6
}

.service-minutes {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background: #00B9B6;
}

.service-minutes__box {
  padding: 0px 30px 30px 30px;
}

.service-minutes-popular {
  padding: 12px;
  display: flex;
  background: #FFA800;
  border-radius: 0px 24px 0px 12px;
  align-self: flex-end;
  align-items: center;
}

.service-minutes-popular__description {
  color: #FFFFFF;
  margin-right: 10px;
}

.service-minutes-popular__img {
  max-width: 15px;
  flex: 0 0 auto;
}

.service-minutes__title {
  color: #FFFFFF;
  margin-bottom: 5px;
}

.service-minutes__payment {
  color: #FFFFFF;
  margin-bottom: 30px;
}

.service-minutes__money {
  color: #FFFFFF;
  font-size: 56px;
}

.service-minutes-description {
  margin-bottom: 30px;
}

.service-minutes-item {
  display: flex;
}

.service-minutes-item:not(:last-child) {
  margin-bottom: 10px;
}

.service-minutes-item__point {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.service-minutes-item__img {
  padding: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  margin-right: 10px;
}

.service-minutes-item__description {
  color: #FFFFFF;
}

/* download-app */

.download-app {
  display: flex;
  justify-content: space-between;
}

.download-app::before {
  content: '';
  position: absolute;
  width: 150px;
  height: 400px;
  background: #5AB8CC;
  filter: blur(150px);
  border-radius: 50%;
  z-index: -1;
  left: 0;
}

.download-app__box {
  max-width: 500px;
}

.download-app-picture__img {
  max-width: 400px;
}

/* reviews */

.reviews__heading {
  margin-bottom: 50px;
}

/* slider Отзывов */

.reviews {
  margin-bottom: 140px;
}

.slider {
  /* устанавливаем относительное позиционирование элементу */
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.slider__items {
  /* устанавливаем относительное позиционирование элементу */
  position: relative;
  /* устанавливаем элементу ширину, равную 100% */
  width: 100%;
  overflow: hidden;
}

.slider__item {
  /* устанавливаем относительное позиционирование элементу */
  position: relative;
  /* отключаем по умолчанию отображение всех слайдов */
  display: none;
  /* устанавливаем элементу ширину, равную 100% */
  width: 100%;
  /* длительность анимации трансформации */
  transition: transform 0.6s ease;
  /* не показывать обратную сторону трансформируемого элемента */
  backface-visibility: hidden;
}

.slider__item_active,
.slider__item_next,
.slider__item_prev {
  /* отображаем слайд, если он имеет один из этих классов */
  display: block;
}

.slider__item_next,
.slider__item_prev {
  /* устанавливаем абсолютное позиционирование для элемента, на который будет сменяться слайд (на время трансформации) */
  position: absolute;
  /* устанавливаем положение элемента, т.е. координату top */
  top: 0;
}

.slider__item_next.slider__item_left,
.slider__item_prev.slider__item_right {
  /* сдвигаем элемент на 0 по горизонтали */
  transform: translateX(0);
}

.slider__item_next,
.slider__item_right.slider__item_active {
  /* сдвигаем элемент на 100% по горизонтали */
  transform: translateX(100%);
}

.slider__item_prev,
.slider__item_left.slider__item_active {
  /* сдвигаем элемент на -100% по горизонтали */
  transform: translateX(-100%);
}

/* элементы управления (назад и вперёд) слайдером */

.slider__control {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  text-align: center;
  opacity: 0.7;
}

.slider__control:hover,
.slider__control:focus {
  text-decoration: none;
  outline: 0;
  opacity: 1;
}

.slider__control_prev {
  left: 0;
}

.slider__control_next {
  right: 0;
}

.slider__control::before {
  padding: 2px;
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_prev::before {
  border-radius: 50%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
  border-radius: 50%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* индикаторы слайдера */

.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.slider__indicator {
  position: relative;
  flex: 0 1 auto;
  width: 30px;
  height: 5px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #00B9B640;
  border-radius: 6px;
}

.slider__indicator::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.slider__indicator::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.slider__indicator_active {
  background-color: #00B9B6;
}

.slider__item_photo {
  display: inline-block;
  height: auto;
  max-width: 100px;
  border-radius: 24px;
  background: #FFFFFF;
}

.slider__estimation {
  flex: 0 0 auto;
  max-width: 90px;
}

.slider__items {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.075);
  border-radius: 24px;
}

/*   .slider__item_inner {
  position: absolute;
  right: 15%;
  bottom: 30px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}*/

.slider__item {
  height: 320px;
  overflow: hidden;
}

.slider__item_inner {
  position: absolute;
  left: 15%;
  right: 15%;
  top: 36px;
  bottom: 36px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider__item_img {
  flex: 0 0 80px;
  max-width: 80px;
  object-fit: cover;
}

.slider__item_testimonial {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* questions */

.questions {
  margin-bottom: 140px;
}

.questions::before {
  content: '';
  position: absolute;
  width: 250px;
  height: 450px;
  background: #5AB8CC;
  filter: blur(200px);
  border-radius: 50%;
  z-index: -1;
  right: 0;
}

.questions__heading {
  margin-bottom: 30px;
}

/* accordion */

#accordion {
  width: 100%;
  margin: 20px auto;
}

#accordion>h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  margin-top: -1px;
  position: relative;
  font-size: 20px;
  line-height: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
  color: #333333;
  cursor: pointer;
  transition: border 0.2s ease-in-out, color 0.2s ease-in-out;
}

#accordion>h3:hover,
#accordion>h3:focus {
  z-index: 2;
  border-color: #00cdab7a;
  color: #00cdaba2;
  outline: none;
}

#accordion>h3:active {
  border-top: 1px solid #00CDAC;
  border-bottom: 1px solid #00CDAC;
}

#accordion>h3.select {
  border-top: 1px solid #00CDAC;
  border-bottom: 1px solid #00CDAC;
  color: #00CDAC;
}

#accordion>div {
  height: 0;
  overflow: hidden;
  color: #333;
  padding-left: 10px;
  padding-right: 10px;
  transition: height 1s;
}

.accordion__item {
  list-style: disc;
}

.accordion__list {
  padding-left: 19px;
}

/* footer */

.footer {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-nav {
  max-width: 500px;
  margin-right: 130px;
}

.footer-nav-picture__img {
  max-width: 180px;
  margin-bottom: 40px;
}

.footer-nav-links__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-nav-links {
  display: flex;
  flex-direction: column;
}

.footer-nav-links__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #333333;
}

.footer-nav-links:not(:last-child) {
  margin-right: 20px;
}

.footer-nav-links__link:first-child {
  margin-bottom: 20px;
}

.footer-contacts-links {
  margin-bottom: 30px;
}

.footer-contacts-links__link:not(:last-child) {
  margin-right: 20px;
}

.footer-contacts-links__img {
  max-width: 40px;
}

.footer-contacts-mail {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.footer-contacts-mail__icon {
  max-width: 20px;
  margin-right: 12px;
}

.footer-contacts-map {
  display: flex;
  align-items: center;
}

.footer-contacts-map__icon {
  max-width: 14px;
  margin-left: 3px;
  margin-right: 15px;
}

.footer-contacts-mail__link,
.footer-contacts-map__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #333333;
}