@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background: rgba(249, 253, 255, 0.7);
}

* {
  font-family: Inter;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
a,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

ul {
  list-style: none;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #0E0E0F;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #0E0E0F;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #333333;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  padding: 12px 30px;
  border-radius: 12px;
}

.btn_birch {
  color: #FFFFFF;
  background: linear-gradient(225deg, #00B9B6 0%, #00CDAC 100%);
}

.btn_white {
  color: #00B9B6;
  background: #FFFFFF;
}

/* header */

header::before {
  content: '';
  position: absolute;
  width: 350px;
  height: 500px;
  background: #5AB8CC;
  filter: blur(260px);
  border-radius: 50%;
  z-index: -1;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 0px;
  margin-bottom: 80px;
}

.header-logo__logo {
  max-width: 180px;
}

.header-menu__list {
  display: flex;
}

.header-menu__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #333333;
}

.header-menu__item:not(:last-child) {
  margin-right: 40px;
}

.lang-img__flag {
  width: 26px;
  height: 26px;
  object-fit: cover;
  border-radius: 50px;
  border: 0.5px solid black;
  margin-right: 6px;
}

.header-account {
  align-items: center;
  display: flex;
}

.language {
  align-items: center;
  display: flex;
  margin-right: 20px;
}

/* session */

.session {
  display: flex;
  margin-bottom: 140px;
}

.session::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 800px;
  background: #5AB8CC;
  filter: blur(220px);
  border-radius: 50%;
  z-index: -1;
  right: 0px;
}

.session-text__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #0E0E0F;
  margin-bottom: 50px;
}

.session-text__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #00B9B6;
}

.session-picture__img {
  max-width: 686px;
}

/* application */

.application {
  display: flex;
  margin-bottom: 140px;
}

.application-clip {
  display: flex;
  width: 650px;
  margin-right: 50px;
}

.application-clip__video {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.application-download__heading {
  font-size: 32px;
  margin-bottom: 40px;
}

.application-download__description {
  display: flex;
  align-items: center;
  margin-bottom: 72px;
}

.application-download-picture {
  padding: 13px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.151);
  border-radius: 12px;
  margin-right: 20px;
}

.application-download-text__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #00B9B6;
}

.application-download-text__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
}

.application-download-links__link:first-child {
  margin-right: 20px;
}

/* psyhologists */

.psychologists {
  margin-bottom: 140px;
}

.psychologist {
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.103);
  border-radius: 12px;
  margin-bottom: 50px;
}

.psychologists__heading {
  text-align: center;
  font-size: 32px;
  margin-bottom: 55px;
}

.psychologist-picture {}

.psychologist-picture__img {
  object-fit: cover;
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 15px;
}

.psychologist__name {
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  color: #333333;
  margin-bottom: 15px;
}

.psychologist-estimation {
  display: flex;
  justify-content: space-between;
}

.psychologist-estimation__link {
  padding: 5px;
}

.psychologists-themes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.psychologists-themes__problems {
  padding: 10px 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #333333;
  background: #FFFFFF;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.072);
  cursor: pointer;
}

.psychologists-themes__problems_active {
  color: #00B9B6;
}

.psychologists-themes__problems:nth-child(-n+6) {
  margin-bottom: 15px;
}

.psychologists-themes__staff {
  padding: 10px 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
}

/* problems */

.help-you {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 210px;
}

.help-you::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 300px;
  background: #5AB8CC;
  filter: blur(200px);
  border-radius: 50%;
  z-index: -1;
  right: 0px;
}

.help-you-description__heading {
  margin-bottom: 40px;
}

.help-you-problems__img {
  padding: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #00B9B61A;
  margin-right: 10px;
}

.help-you-problems__item {
  display: flex;
  align-items: center;
}

.help-you-problems__item:not(:last-child) {
  margin-bottom: 15px;
}

.help-you-problems__point {
  display: flex;
  align-items: center;
}

.help-you-picture__img {
  max-width: 430px;
}